

.footer-container {
  margin: 0rem auto;
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 12rem;
}

.colz-icon {
  margin: 3rem 40rem;
  position: relative;
  top: 1rem;
  left: 11rem;
}

.colz-icon i {
  color: #f6f6f6;
  padding: 2rem 2rem 2rem 2rem;

  font-size: 2rem;
}

.colz-icon i:hover {
  color: lightgray;
}

h4 {
  font-size: 1.5rem;
  width: 22rem;
  color: #f6f6f6;
  position: relative;
  left: 58.5rem;
  top: -2rem;
}


@media screen and (max-width: 480px) and (max-height: 854px) {
  .footer-container {
    margin: 0rem auto;
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 10rem;
    margin-left: 0rem;
  }

  .colz-icon {
    margin: 0 auto;
    position: relative;
    top: 0rem;
    left: 2rem;
  }

  h4 {
    font-size: 1rem;
    position: relative;
    left: 12rem;
    top: 0rem;
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
  .footer-container {
    margin: 0rem auto;
    position: relative;
    
    background-color: #000000;
    width: 100%;
    height: 12rem;
  }

  .colz-icon {
    margin: 3rem 21rem;
    position: relative;
    top: 1rem;
    left: 11rem;
  }

  h4 {
    font-size: 1.2rem;
    position: relative;
    left: 40.5rem;
    top: -2.2rem;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .footer-container {
    margin: -11rem auto;
    position: relative;
    /* margin: 0 auto; */
    background-color: #000000;
    width: 100%;
    height: 12rem;
  }

  .colz-icon {
    margin: 3rem 21rem;
    position: relative;
    top: 1rem;
    left: 2rem;
  }

  h4 {
    font-size: 1.2rem;
    position: relative;
    left: 31.5rem;
    top: -2.2rem;
  }
}

@media screen and (max-width: 820px) and (max-height: 1180px) {
  .footer-container {
    margin: 2rem auto;
    position: relative;
    /* margin: 0 auto; */
    background-color: #000000;
    width: 100%;
    height: 30rem;
  }

  .colz-icon {
    margin: 2rem 13rem;
    position: relative;
    top: 1rem;
    left: 2rem;
  }

  h4 {
    font-size: 1rem;
    position: relative;
    left: 24.5rem;
    top: -2rem;
  }
}


@media screen and (max-width: 540px) and (max-height: 720px){
  .footer-container {
    margin: 0rem auto;
    position: relative;
    /* margin: 0 auto; */
    background-color: #000000;
    width: 100%;
    height: 12rem;
  }

  .colz-icon {
    margin: 2rem 2rem;
    position: relative;
    top: 1rem;
    left: 2.5rem;
  }

  h4 {
    font-size: 1rem;
    position: relative;
    left: 14.25rem;
    top: -0.75rem;
  }
}

@media screen and (max-width: 412px) and (max-height: 914px){
  .footer-container {
    margin: 0rem auto;
    position: relative;
    /* margin: 0 auto; */
    background-color: #000000;
    width: 100%;
    height: 12rem;
  }

  .colz-icon {
    margin: 2rem 0rem;
    position: relative;
    top: 0rem;
    left: 2.5rem;
  }

  .colz-icon i{
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
    position: relative;
    left: 10.25rem;
    top: -2rem;
  }
}
