

.profile-container {
  margin: 0rem auto;
  position: relative;
  display: flex;
  width: 100%;
  height: 64rem;
}

.profile-details {
  width: 45%;
  margin: 10rem 20rem;
  height: 40rem;
}

.profile-details-name {
  font-size: 30px;
  font-family: "Poppins Semibold";
  margin-top: 6rem;
  margin-left: 7rem;
  color: gray;
}

.profile-details-name .primary-text {
  font-size: 50px;
}

.profile-details-role {
  display: flex;
  width: 75%;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 6.6rem;
  margin-bottom: 20px;
}

.profile-details-role .primary-text h1 p {
  font-size: 40px;
  color: gray;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: "Cinzel Decorative", cursive;
}

.primary-text {
  color: (--white);
}

.highlighted-text {
  color: #19a7ce;

  font-size: 50px;
}

.profile-role-tagline {
  font-size: 19px;
  margin-left: 0.3rem;
  color: gray;
  font-family: "Poppins Light";
}

.profile-options .highlighted-btn {
  margin: 0 0 0 7rem;
  border: 1px solid #146c94;
}

.profile-options .highlighted-btn:hover {
  color: #f6f1f1;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  margin-top: 11rem;
  margin-left: -17rem;
  width: 380px;
}

.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../../assets/Home/photo.jpeg");
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}

.colz-icon-home {
  width: 30%;
  margin: 0 auto;
  position: relative;
  top: 5rem;
  left: -10rem;
  padding: 12px 2px;
}
.colz .colz-icon-home i {
  /*color: #000000;*/
  color: gray;
  padding: 8px;
  padding-left: 0px;
}

.colz .colz-icon-home:hover {
  transform: scale(1.5);
}

.custom-shape-divider-bottom-1680677037 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1680677037 svg {
  position: relative;
  display: block;
  width: calc(185% + 1.3px);
  height: 183px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1680677037 .shape-fill {
  fill: #19a7ce;
}


@media screen and (max-width: 480px) {
  .profile-container {
    margin: 0rem 0rem;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
  }

  .profile-details {
    width: 190%;
    height: 100%;
    margin: 0 auto;
  }

  .colz-icon-home {
    position: relative;
    top: 26rem;
  }

  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
    position: relative;
    top: -41rem;
    left: 5.5rem;
  }

  .profile-details-name {
    margin-top: 20rem;
  }

  .profile-details-name .primary-text {
    font-size: 30px;
    position: relative;
    top: 5.5rem;
    left: 2rem;
  }

  .profile-details-name .highlighted-text {
    font-size: 30px;
  }

  .profile-details-role .primary-text h1 {
    font-size: 25px;
    margin-top: 5rem;
    margin-left: 0rem;
  }

  .profile-details-role .primary-text h1 p {
    font-size: 25px;
  }

  .profile-details-role .profile-role-tagline {
    width: 8rem;
    font-size: 13px;
    margin-left: -4rem;
  }
  .profile-role-tagline {
    margin: 0 auto;
    margin-left: -2rem;
  }

  .profile-options .highlighted-btn {
    margin-left: 13rem;
    margin-top: 1rem;
  }

  .custom-shape-divider-bottom-1680677037 {
    margin: 7rem auto;
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
  .profile-container {
    margin: 0rem 0rem;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .profile-details {
    width: 50%;
    margin-left: 7rem;
    margin-top: 6rem;
    height: 41rem;
  }

  .colz-icon-home {
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 6rem;
    left: -9rem;
    padding: 12px 2px;
  }

  .custom-shape-divider-bottom-1680677037 {
    margin-top: 10rem;
    width: 101%;
  }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
  .profile-container {
    margin: 0rem 0rem;
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
  }

  .profile-details {
    width: 88%;
    margin-left: 0rem;
    margin-top: -4rem;
    height: 41rem;
  }

  .colz-icon-home {
    width: 30%;
    margin: 0 auto;
    position: relative;
    top: 13rem;
    left: -15rem;
    padding: 12px 2px;
  }

  .profile-details-name {
    margin-top: 7rem;
  }

  .profile-details-name .primary-text {
    font-size: 30px;
    position: relative;
    top: 5.5rem;
    left: 0rem;
  }

  .profile-details-name .highlighted-text {
    font-size: 30px;
  }

  .profile-details-role .primary-text h1 {
    font-size: 25px;
    margin-top: 5rem;
    margin-left: 0.2rem;
  }

  .profile-details-role .primary-text h1 p {
    font-size: 25px;
  }

  .profile-role-tagline {
    font-size: 14px;
  }

  .profile-options .highlighted-btn {
    margin-left: 7rem;
    margin-top: 0rem;
  }

  .custom-shape-divider-bottom-1680677037 {
    margin: 2rem auto;
  }

  .profile-picture {
    height: 350px;
    margin-top: 4rem;
    margin-left: -40rem;
    width: 350px;
  }
}

@media screen and (max-width: 412px) and (max-height: 914px) {
  .profile-container {
    margin: -3rem;
    position: relative;
    display: block;
    height: 100%;
  }

  .profile-details {
    width: 50%;
    margin-top: -7rem;
    height: 41rem;
  }

  .profile-picture {
    height: 350px;
    margin-top: 4rem;
    position: relative;
    top: -39rem;
    width: 350px;
    left: 2rem;
  }

  .colz-icon-home {
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: 31rem;
    left: 2rem;
    padding: 12px 2px;
  }

  .profile-details-name {
    margin-top: 32rem;
    width: 90%;
  }

  .profile-details-name .primary-text {
    font-size: 21px;
    position: relative;
    top: -2rem;
    left: -6rem;
  }

  .profile-details-role .primary-text {
    width: 200%;
    margin-top: -4rem;
    margin-left: -5px;
  }

  .profile-details-role .primary-text h1 p{
    font-size: 17px;
  }
  

  .profile-details-name .highlighted-text {
    font-size: 23px;
  }

  .profile-details-role .primary-text {
    width: 200%;
  }

  

  .profile-details-role {
    display: flex;
    width: 64%;
    flex-direction: column;
    margin-top: -32px;
    margin-left: -0.4rem;
    margin-bottom: 20px;
  }

  .profile-role-tagline {
    font-size: 13px;
    margin-left: -1rem;
  }
  .profile-details-role .profile-role-tagline{
    width: 9rem;
    margin-left: 1rem;
    font-size: 15px;

  }

  .profile-options .highlighted-btn {
    margin-left: 2rem;
    margin-top: 0.5rem;
  }

  .highlighted-btn :hover{
    background-color: #0000;
    border: 1px solid #146c94;
  }
  .custom-shape-divider-bottom-1680677037 {
    margin:10rem auto;
    
  }

  .custom-shape-divider-bottom-1680677037 svg {
    height: 140px;
  }
}


@media screen and (max-width: 360px) and (max-height: 640px){
  .profile-container {
    margin: 0rem 0rem;
    position: relative;
    display: block;
    height: 100%;
    width: 119%;
  }

  .profile-details {
    width: 55%;
    margin-top: -7rem;
    height: 41rem;
  }
  .profile-picture {
    height: 340px;
    margin-top: 4rem;
    position: relative;
    top: -39rem;
    width: 340px;
    left: 2rem;
  }

  .profile-details-role .profile-role-tagline{
   font-size: 15px;
    display: block;
    text-align: center;
    margin-left: -1.5rem;
    width: 19rem;

  }
}
